<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Review</title>
</head>
<body>
<form method="post" action="/logout">
    <input type=submit name="logout" value='Log out'><br>
</form>
<p>
    <form method="post" action="/review">
        Enter review title:<br><input type="text" name="title"><br>
        Enter review text:<br><input type="text" name="text"><br>
        <input type=submit name="choice" value='add'>
        <input type=submit name="choice" value='modify'>
        <input type=submit name="choice" value='delete'>
    </form>
</p>

</body>
</html>