<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
</head>
<body>
<p>
<form method="post" action="/logout">
    <input type=submit name="logout" value='Log out'><br>
</form>
</p>
<form method="get" action="/search">
    <label for="hotelName">Hotel name:</label><br>
    <input type="text" id="hotelName" name="hotelName"><br>
    <input type=submit name="search" value='Search'><br>
    #foreach( $hotel in $hotels)
    <a href="/hotel?hotelId=$hotel.id">$hotel.name</a><br>
    #end
</form>

</body>
</html>